@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: normal;
}

.form {
    font-family: "Inter";
    padding: 20px;
    margin-bottom: 50px;
    text-align: left;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    label {
        display: block;
    }
}

.center {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    gap: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.formlist {
    li::marker {
        color: red;
        content: "* ";
    }
}

.results {
    div {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #837D7D;
        padding: 10px
    }
}
