@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: normal;
}

.form {
    font-family: "Inter";
    padding: 20px;
    margin-bottom: 50px;
    text-align: left;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.center {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formlist {
    li::marker {
        color: red;
        content: "* ";
    }
}